.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.delay-200 {
	animation-delay : -200ms;
}

.delay-400 {
	animation-delay : -400ms;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-animation {
  animation : page-enter 0.7s ease;
}
@keyframes page-enter {
  from {
    transform : translateY(-500px);
  }
  to {
    transform : translateY(0);

  }
}

.loading-enter div {
  opacity: 0;
}
.loading-enter-active div {
  transition: all 0.2s ease;
  opacity: 1;
}
.loading-exit div {
  opacity: 1;
}
.loading-exit-active div {
  transition: all 0.2s ease;

  opacity: 0;
}
.page-enter {
  transform: translateY(-500px);
}
.page-enter-active {
  transform: translateY(0);
}
.page-exit {
  transform: translateY(0);
}
.page-exit-active {
  transform: translateY(-500px);
}